/* Contenedor principal de la creación de la publicación */
.post-create {
  margin-bottom: 15px;
  display: flex; /* Usa flexbox para alinear los elementos */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  flex-direction: column; /* Organiza los elementos de forma vertical */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  padding: 0; /* Agrega algo de padding para separar del borde */
}

/* Estilos del contenedor de avatar y formulario */
.description {
  display: flex; /* Usa flexbox para alinear el avatar y el formulario horizontalmente */
  align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
  justify-content: flex-start; /* Centra los elementos horizontalmente dentro de description */
  width: 100%; /* Asegura que ocupe todo el ancho */
  padding: 0 15px; /* Agrega un poco de padding en los laterales */
  box-sizing: border-box; /* Asegura que el padding no rompa el diseño */
}

/* Avatar */
.description img {
  width: 40px; /* Ajusta el tamaño del avatar */
  height: 40px;
  border-radius: 50%; /* Redondea el avatar */
  object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
}

/* Formulario */
.create-post-form {
  margin-left: 1rem; /* Espacio entre el avatar y el input */
  flex-grow: 1; /* Hace que el formulario ocupe el espacio restante */
  width: 100%;
}

/* Contenedor del input de búsqueda */
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Estilos del input de búsqueda */
.search-input {
  width: 100%;
  padding: 12px 50px 12px 12px; /* Espacio adicional a la derecha */
  background-color: #434343;
  color: white;
  border-radius: 9999px;
  font-size: 1rem;
  border: none;
  outline: none;
}

/* Estilos al enfocar el input */
.search-input:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.7); /* Añadir sombra al enfocar */
  background-color: #3d3d3d; /* Fondo ligeramente más claro */
}

/* Botón de foto dentro del input */
.input-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #45bd62; /* Color verde para el botón */
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.input-button:hover {
  color: #36a14c; /* Color más oscuro al pasar el mouse */
}

/* Input oculto para cargar archivos */
.hidden-file-input {
  display: none; /* Oculta el input file */
}

.post-button {
  color: #1877f2;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Card flotante para la previsualización */

/* Contenido de la previsualización */
.preview-content {
  width: 100%;
  text-align: center;
}

.preview-content h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Imagen de previsualización */
.image-preview {
  position: relative;
  /* margin-bottom: 0.5px; */
  padding-bottom: 0.5px;
}

.image-preview img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 150px;
}

/* Botón para eliminar imagen */
.remove-image {
  position: absolute;
  bottom: -50px;
  left: 0;
  background-color: #1877f2;
  border-radius: 5%;
  border: none;
  color: #ffff;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 10px;
}

/* Estilo del texto */
.preview-content p {
  font-size: 1rem;
  color: #e0e0e0;
  word-wrap: break-word;
  margin-bottom: 20px;
  margin-top: 60px;
}
