/* CSS para FlatList */
.post {
  background: #2e2e2e;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 0;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto; /* Esto centra el elemento horizontalmente */
  margin-bottom: 20px;
  position: relative;
}

/* Contenedor para la imagen con altura fija */
.post-image-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
  cursor: pointer; /* Indica que es clickeable */
  transition: all 0.3s ease;
}

/* Estilos para la imagen */
.post-image {
  max-width: 100%; /* Para que la imagen no sobrepase el contenedor */
  max-height: 400px; /* Limitar la altura máxima */
  object-fit: cover; /* Mantener la proporción de la imagen */
  cursor: pointer;
  transition: all 0.3s ease; /* Transición suave al hacer clic */
}
/* Estilo para la imagen cuando se expande */
.post-image.expanded {
  object-fit: contain; /* Asegura que la imagen se vea completa */
  height: auto; /* Ajusta la altura automáticamente */
  max-height: 100%;
}

.post-image-container.expanded {
  height: auto; /* Deja que el contenedor se ajuste al tamaño de la imagen */
}

.post-header {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
}
.post-image.expanded {
  max-height: 100%; /* Deja que la imagen ocupe todo el espacio disponible */
  object-fit: contain; /* Muestra la imagen completa sin recortarla */
}

.author {
  font-weight: bold;
  margin-bottom: 0;
}

.date {
  font-size: 0.8rem;
  color: gray;
}

.post-content {
  margin-top: -10px;
  font-size: 0.9rem;
  color: white;
  padding: 0 20px;
}

.post-image {
  width: 100%;
  margin-top: 15px;
  display: block;
}

.post-actions {
  /*position: relative; /* Para que los elementos hijos con `absolute` se posicionen correctamente */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 0;
  height: 50px; /* Fija una altura para evitar saltos */
  /*overflow: hidden; /* Evita que los íconos visibles muevan el flujo */
}

.action-btn {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #b8bbbf;
  transition: background-color 0.3s, color 0.3s;
}

.action-btn:hover {
  background-color: #3b3d3e;
  padding: 5px;
  border-radius: 5px;
}

.reactions,
.share-options {
  font-size: 1.7rem;
  position: absolute;
  background: #252728;
  border-radius: 50px;
  display: flex;
  z-index: 10;
}

.share-option-a {
  font-size: 18px;
}

.share-options {
  gap: 10px; /* Espaciado entre los iconos */
  padding: 10px;
  border-radius: 8px;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Añade transiciones suaves */
  pointer-events: none; /* Evita interacción si no está visible */
  bottom: 40px;
  right: -40px;
}

.post-actions .action-btn:hover .share-options {
  opacity: 1; /* Los íconos se muestran cuando el cursor pasa por encima */
  pointer-events: auto; /* Permite interactuar con los íconos cuando se muestran */
  transform: translateX(-50%) translateY(0); /* Mantiene la posición */
}

.share-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem; /* Asegura que los íconos sean más grandes */
  color: #b8bbbf;
  transition: transform 0.3s ease;
  padding: 0; /* Elimina cualquier relleno adicional */
  margin: 0; /* Elimina márgenes para evitar separación extra */
}

.share-button:hover {
  transform: scale(1.1);
  color: #707070; /* Color al hacer hover */
}

.reaction-btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.reaction-btn:hover {
  transform: scale(0.9);
}

.textarea-custom {
  resize: none;
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #444;
  border-radius: 5px;
  border: none;
  outline: none; /* Elimina el borde azul al hacer clic */
}

.textarea-custom:focus {
  outline: none; /* Elimina el borde azul cuando se hace clic */
  border: none;
  box-shadow: none;
}

.line-hr {
  height: 0px;
  justify-content: center;
  margin: 10px auto;
  width: 90%;
}

.comentarios-list {
  /* margin-top: 10px; */
  padding: 10px;
  font-size: 0.9rem;
  max-width: 700px;
  margin: 0 auto;
  /* display: flex; */
  flex-direction: column;
  /* overflow: hidden; */
}

.comentario-item {
  background-color: #3b3d3e;
  padding: 10px 15px; /* Espaciado interno para comodidad de lectura */
  border-radius: 5px;
  margin-bottom: 10px;
  /* word-wrap: break-word;  */
  /* white-space: pre-wrap;  */
  /*display: block; /* Asegura que se comporte como un bloque completo */
  width: fit-content; /* Ajusta el ancho al contenido */
  max-width: 100%; /* Evita que sea más ancho que el contenedor */
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

.comentario-area {
  margin-top: 5px; /* Separación entre el post y el área de comentarios */
  align-items: center;
}

.delete-btn {
  color: #707070;
}

.delete-btn:hover {
  color: #b8bbbf; /* Color al hacer hover */
}

.edit-btn {
  color: #707070;
}

.edit-btn:hover {
  color: #b8bbbf;
}

.button-edit-container {
  display: flex; /* Utiliza flexbox para alinear los botones en línea */
  align-items: center; /* Alinea los botones verticalmente */
}

.button-edit-image {
  border: none;
  color: #45bd62; /* Color verde para el botón */
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  margin-right: -10px; /* Espacio entre los botones */
}

.texterea-edit {
  border: none;
  outline: none; /* Elimina el borde azul al hacer clic */
}

.texterea-edit:focus {
  outline: none; /* Elimina el borde azul cuando se hace clic */
  border: none;
  box-shadow: none;
}

.button-save-edit {
  color: white;
}

.button-save-edit:hover {
  color: #1877f2;
}

.comments-section {
  margin: 10px 10px;
}

.flat-list {
  width: 500px;
}

.comment {
  background: #3b3d3e;
  width: 50%;
  margin: 10px 10px;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
}

.comment-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-input input {
  background-color: #3b3d3e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 85%;
}

.send-comment-btn {
  background-color: transparent;
}
