/* Limitar el ancho del contenedor de las publicaciones a un tamaño adecuado */
.post-list {
  padding-top: 20px; /* Agrega un margen superior para separarlo del navbar */
  padding-bottom: 20px;
  width: 100%; /* Asegura que el FlatList ocupe el espacio restante */
}

/* Asegúrate de que el sidebar tenga espacio a la izquierda */
.home-container {
  display: flex;
}

.sidebar {
  width: 250px; /* Ajusta el tamaño del sidebar si es necesario */
  margin-top: 20px; /* Para que no se sobreponga con el FlatList */
}
