.flowbite-sidebar {
  background-color: transparent !important; /* Elimina el fondo blanco */
  box-shadow: none !important; /* Remueve sombras predeterminadas */
}

.footer {
  position: relative;
  max-width: 300px;
  font-family: inherit;
  color: #fff; /* Texto blanco */
}

.footer-content {
  font-size: 12px; /* Tamaño de fuente pequeño */
}

.footer span {
  color: #999b9c;
  font-weight: bold;
  display: inline-block;
  padding: 0 15px;
}
